@import '../css/normalize.min.css';
@import '../fonts/fonts.css';
@import './components/pages.css';

@import './components/header.css';
@import './components/main.css';
@import './components/footer.css';
@import './components/demo-table.css';
@import './components/card.css';

:root {

  /* Colors */

  --white: #ffffff;
  --black: #212429;
  --pink: #F784AD;
  --purple: #7048E8;
  --dark-purple: #5028C6;
  --blue: #4263EB;
  --dark-blue: #2342C0;
  --red: #F03D3E;
  --grey-1: #F9FAFC;
  --grey-2: #DDE2E5;
  --grey-3: #ACB5BD;
  --grey-4: #495057;

  --light-blue: #A0B1F5;
  --light-blue-rgb: 160, 177, 245;

  --blue-grey-2: #90A0B7;
  --blue-grey-4: #334D6E;
  --blue-grey-4-rgb: 51, 77, 110;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);

  /* Font sizes */

  --main-font-size: 16px;
  --h3-font-size: 32px;

  /* Avatar */

  --avatar-size-sm: 36px;
  --avatar-size-md: 64px;
  --avatar-size-lg: 128px;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: var(--main-font-size);
  padding: 0;
  margin: 0;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: normal;
}