.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-2);
}

.header__content {
  display: flex;
  flex-basis: 1110px;
  align-items: center;
  font-size: 28px;
  color: var(--black);
}