.tooltip {

}

.tooltip__trigger {
  display: inline-flex;
  cursor: pointer;
}

.tooltip__trigger:hover + .tooltip__body {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 5px);
}

.tooltip__body {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 50%;
  padding: 13px 21px;
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--white);
  transform: translate(-50%, 0);
  transition: all .2s ease;
}

.tooltip__body::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%, calc(-100% + -12px));
  border: 14px solid transparent;
  border-bottom: 8px solid var(--primary);
  pointer-events: none;
}