.checkbox {
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
}

.checkbox__state {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 300;
  color: var(--grey-4);
  cursor: pointer;
}

.checkbox__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  background-color: var(--white);
  border: 1px solid var(--grey-2);
  border-radius: 4px;
  transition: background-color .1s ease;
}

.checkbox__icon {;
  width: 15px;
  height: 14px;
  color: var(--white);
  visibility: hidden;
  opacity: 0;
  transition: opacity .1s ease;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
  background-color: var(--primary);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon{
  visibility: visible;
  opacity: 1;
}

.checkbox__input:focus-visible ~ .checkbox__state .checkbox__control {
  border-color: var(--blue);
}

.checkbox_disabled .checkbox__state {
  pointer-events: none;
}

.checkbox_disabled .checkbox__control {
  background-color: var(--grey-2);
}

.checkbox_disabled .checkbox__label {
  color: var(--grey-2);
}